.Home {
    background-color: blue;
}

.MarginLeftAuto {
    margin-left: auto;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #312f2f;
    text-align: left;
    padding: 8px;
    
  }

  th {
    background-color:aqua;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }


